<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xinyue.blog.dao.mybaits.ArticleMapper">
	<cache></cache>
	<resultMap type="Article" id="ArticlePage">
		<id column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="summary" property="summary"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
		<result column="tagIds" property="tagIds"/>
		<result column="tagNames" property="tagNames"/>
		<result column="delete_flag" property="deleteFlag" jdbcType="BIT"/>
		<result column="cid" property="category.id"/>
		<result column="cname" property="category.name"/>
		<!--<collection property="tags" ofType="Tag">
			<id column="tid" property="id"/>
			<result column="tname" property="name"/>
		</collection>-->
		<collection property="tags"
					select="com.xinyue.blog.dao.mybaits.TagMapper.findByArticleId"
					column="id" />
	</resultMap>
	<select id="findArticleByPageExcludeDeleted" resultMap="ArticlePage">
		select ac.id, ac.title, ac.summary, ac.create_date, ac.last_update_date, ac.delete_flag, cy.id cid, cy.name cname
		from article ac left join category cy on ac.category_id = cy.id
		where ac.delete_flag = '0'
		ORDER BY ac.id desc LIMIT #{offset}, #{pageSize};
	</select>

	<select id="findArticleByCategoryId" resultType="Article">
		select ac.id, ac.title, ac.create_date createDate, ac.last_update_date lastUpdateDate
		from article ac  where ac.delete_flag = 0 and ac.category_id = #{id}
	</select>

	<select id="getTotalCountExcludeDeleted" resultType="int">
		select count(*) from article where delete_flag = '0';
	</select>

	<select id="findNextArticle" resultType="Article">
		SELECT ac.id, ac.title FROM article ac WHERE ac.id &gt; #{id} and ac.delete_flag = '0' ORDER BY ac.id ASC LIMIT 1;
	</select>
	<select id="findPreArticle" resultType="Article">
		SELECT ac.id, ac.title FROM article ac WHERE ac.id &lt; #{id} and ac.delete_flag = '0' ORDER BY ac.id DESC LIMIT 1;
	</select>

	<select id="findArticleByPage" resultMap="ArticlePage">
		select ac.id, ac.title, ac.summary, ac.create_date, ac.last_update_date, ac.delete_flag, cy.id cid, cy.name cname
		from article ac left join category cy on ac.category_id = cy.id
		ORDER BY ac.id desc LIMIT #{offset}, #{pageSize};
	</select>
	<select id="getTotalCount" resultType="int">
		select count(*) from article;
	</select>
	<select id="findById" resultMap="ArticlePage">
		select ac.id, ac.title, ac.summary, ac.content, ac.create_date, ac.last_update_date, ac.delete_flag, cy.id cid, cy.name cname
		from article ac left join category cy on ac.category_id = cy.id
		where ac.id = #{id};
	</select>
	<select id="findByTitle" resultMap="ArticlePage">
		<bind name="name" value="'%' + _parameter + '%'" />
		select ac.id, ac.title, ac.summary, ac.content, ac.create_date, ac.last_update_date, ac.delete_flag, cy.id cid, cy.name cname
		from article ac left join category cy on ac.category_id = cy.id
		where ac.title like #{name};
	</select>
	<update id="enableArticle">
		update article ac set ac.delete_flag = 0 where id = #{id};
	</update>
	<update id="disableArticle">
		update article ac set ac.delete_flag = 1 where id = #{id};
	</update>
</mapper>
 

